# 🚀 Ignorar archivos de Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

db.sqlite3 
.sqlite3
/media/
*/media/
*.log  

.env 
config/settings_local.py  

node_modules/
package-lock.json
yarn.lock

build/
dist/
.DS_Store
public/static/

docker-compose.override.yml
.dockerignore

.vscode/
.idea/
*.iml
*.sublime-workspace

.coverage
htmlcov/
nosetests.xml
pytest_cache/
